/*main*/
.wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.contents button {
    border: none;
    background: none;
}

.contents button.b1 {
    z-index: 2;
    position: absolute;
    left: 29%;
    top: 50%
}
.contents button.b1 img{
}

.contents button.b2 {
    position: absolute;
    left: 28%;
    top: 54%
}
.contents button.b2 img{
}

.contents button.b3 {
    position: absolute;
    left: 27.3%;
    top: 65%;
    width: 13.5%;
    height: auto;
}
.contents button.b3 img{
}

.contents button.b4 {
    position: absolute;
    left: 27.3%;
    top: 73%
}
.contents button.b4 img{
}

.contents button.b5 {
    position: absolute;
    right: 28%;
    top: 54%
}
.contents button.b5 img{
}

.contents button.b6 {
    position: absolute;
    right: 27.3%;
    top: 65%
}
.contents button.b6 img{
}

/*draw*/
.draw-container {
    padding: 30px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sub-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.count-text {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.gacha-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.confirm-btn-blue {
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    background-image: linear-gradient(to right, #0099ff, #33ccff);
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 153, 255, 0.5);
}

.confirm-btn-blue:hover {
    background-image: linear-gradient(to right, #0066cc, #0099ff);
}

#select-item {
    background-image: linear-gradient(to right, #ff9933, #ffcc66);
    display: none;
}

#counter {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/*collection*/
.sort-wrap {

}

.item-box {
    border: 5px #fe0388 solid;
    border-radius: 0 15px 15px 15px;
    margin-top: 7.5%;
    margin-bottom: 145px;
    background-color: rgba(255,255,255, 0.9);
    overflow: auto;
    scroll-behavior: smooth;
    min-height: 67vh;
    width: 1200px;
}

.item-box::-webkit-scrollbar {
    display: none;
}

.item-box div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tab-title {
    position: absolute;
    background-color: #fe0388;
    /*background: linear-gradient(135deg, #f06, yellow);*/

    width: 250px;
    height: 60px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: #fff;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 1);

    transform: translate(-5px, -60px);
    border-top-left-radius: 15px;    /* 왼쪽 상단 */
    border-top-right-radius: 15px;   /* 오른쪽 상단 */
}

.tab-text {
    letter-spacing: 40px; /* 글자 간격 설정 */
    color: #fff;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
    /*text-shadow: -5px 0px #000, 0px 5px #000, 5px 0px #000, 0px -5px #000;*/
}

.item-sep {
    color: #fff;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
    position: relative;
    margin-left: 50px;
    margin-top: 40px;
    letter-spacing: 10px; /* 글자 간격 설정 */
    width: 100%;
    font-size: 42px;
}

.item-list hr {
    border: 0;
    border-top: 3px solid black; /* 가로줄 스타일 */
    margin-bottom: -10px; /* 선과 텍스트 사이를 좁혀줌 */
}

/*gallery*/
.content {
    margin: 30px;
    width: 180px;
    height: 180px;
}

.container {
    position: relative;
}

.item-image {
    opacity: 1 !important;
    display: block;
    width: 180px;
    height: 180px;
    transition: .5s ease;
    backface-visibility: hidden;

    background-size: 180px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.container:hover .item-image {
    transform: scale(1.05);
}

.item-image-one {
    opacity: 1 !important;
    display: block;
    width: 300px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;

    background-size: 300px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.item-image-one {
    transform: scale(1.05);
}

.new-item {
    width: 100%;
    height: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    text-align: center;
}

.middle-one {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.middle-view {
    opacity: 1;
}

.item-number {
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
}

/*.item-voice {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    padding: 16px 32px;*/
/*}*/

/*.item-video {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    padding: 16px 32px;*/
/*}*/


/*effect*/
.effect-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.locker {
    z-index: 1;
    position: relative;
    width: 150px;
    height: auto;
    top: 5%;
}


/*draw result*/
.result-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.draw-list {
    border-radius: 15px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.55);
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    min-height: 67vh;
    height: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 1265px;
}

.draw-list::-webkit-scrollbar {
    display: none;
}

.draw-list div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.draw-one {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.nav-div{
    margin-top: 70px;
}
.nav-div button{
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
}

/*modal*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    min-height: 500px;
    max-height: 800px;
    background-color: rgba(238, 238, 238, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    animation: fadeIn 0.2s ease-out;

    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치 */

    overflow: hidden;
    scroll-behavior: smooth;
}

.modal-header {
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    background-color: #fe0388;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    letter-spacing: 4px;
}

.modal-body {
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 1px;
    overflow-y: auto;
    flex: 1;
}

.modal-body::-webkit-scrollbar {
    width: 5px; /* Chrome, Safari, Opera*/
}

.modal-footer {
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    align-self: center;
    margin-top: auto;
    border-top: 1px solid #ccc;
}

.modal-footer button {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn {
    background-color: #f0f0f0;
    color: black;
    border-color: #444;
    font-weight: bold;
}

.close-btn:hover {
    background-color: #e0e0e0;
}

.confirm-btn {
    background-color: deepskyblue;
    color: #f0f0f0;
    border: none;
    font-weight: bold;
}

.confirm-btn:hover {
    background-color: dodgerblue;
}

#modal-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    animation: fadeInBackground 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}